.coffeeContainer {
  width: 40rem;
  height: auto;
  display: none;
  position: absolute;
  top: 15%;
  transform: scale(0.8);
  opacity: 0.1;
  // @include test {
  //   transform: scale(0.2);
  // };
}

.panel {
  height: 10rem;
  width: 40rem;
  background-color: #ff4000;
  border-radius: 3rem 3rem 1rem 1rem;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.switch {
  height: 3rem;
  width: 3rem;
  background-color: #cc0000;
  border-radius: 50%;
  &:hover {
    transform: scale(1.2);
    transition: all 0.2s linear;
  }
}

.gauge-cont {
  display: inline-block;
  position: relative;
  width: $width;
  height: $height;
  &:first-child {
    margin: 0;
  }
}

.gauge {
  width: $width;
  height: $height;
  position: relative;
  overflow: hidden;
}

.inner {
  width: $width;
  height: $height;
  display: block;
  background-color: lighten($background, 10%);
  border-radius: $width $width 0 0;
  z-index:1;
  &:after {
    content: '';
    width: $width - ($gaugewidth * 2);
    height: $height - $gaugewidth;
    top: $gaugewidth;
    left: $gaugewidth;
    background-color: $background;
    border-radius: $width $width 0 0;
    position: absolute;
    z-index: 3;
  }
}

.spinner {
  width: $width;
  height: $height;
  background-color: $primary;
  position: absolute;
  z-index: 2;
  transform-origin: top center;
  transform: rotate(0deg);
  transition: transform $speed ease;
  transform: translateZ(0);
  border-radius: 0 0 $width $width;
}

.pointer {
  display: block;
  width: 0.25rem;
  height: $height - 1;
  background-color: $white;
  border-radius: 0.3rem 0.3rem 0 0;
  position: absolute;
  z-index: 4;
  bottom: 0.1rem;
  left: ($width / 2);
  transform: rotate(-90deg);
  transform-origin: center bottom;
  transition: transform $speed ease;
}

.pointer-knob {
  width: 1rem;
  height: 1rem;
  background-color: $white;
  position: absolute;
  left: 4rem;
  bottom: -0.4rem;
  z-index: 5;
  border-radius: 20px;
}

.trapezoidContainer {
  position: relative;
  height: 35rem;
}

.trapezoid {
    position: relative;
    height: 0;
    width: 33rem;
    border-top: 35rem solid #75a3a3;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-bottom: 0 transparent;
    left: 50%;
    transform: translate(-50%, 0);
}

.groupHandleStick {
  content: "";
  display: block;
  position: absolute;
  top: 1.5rem;
  left: 7.5rem;
  background-color: #4f2902;
  border-radius: 1rem 0 0 1rem;
  height: 1.5rem;
  width: 10rem;
  z-index: 1;
}

.groupHandle {
  height: 0;
  width: 6rem;
  z-index: 1;
  position: absolute;
  border-top: 4.5rem solid #DBE8E7;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 0 transparent;
  left: 50%;
  transform: translate(-50%, 0);
}

.coffeeDrops {
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  .drop {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #35261b;
    margin: 1rem 0;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    transform: rotateZ(-45deg);
    opacity: 0;
  }
}

.cup {
  height: 15rem;
  width: 18rem;
  border: 0.8rem solid black;
  border-bottom: 2.2rem solid black;
  border-radius: 0.8rem 0.8rem 2rem 2rem;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.65);
  left: 50%;
  transform: translate(-50%, -100%);
  ul {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -6rem;
    transform: translateX(19%);
    width: 100%;
    li {
      list-style: none;
      width: 0.2rem;
      height: 4rem;
      background-color: #FFF;
      float: left;
      margin: 1rem;
      filter: blur(0.3rem);
      animation: animateSteam 2s infinite linear;
      &:nth-child(1) {
        animation-delay: 0.2s;
      }
      &:nth-child(2) {
        animation-delay: 0.6s;
      }
      &:nth-child(3) {
        animation-delay: 1s;
      }
      &:nth-child(4) {
        animation-delay: 0.6s;
      }
      &:nth-child(5) {
        animation-delay: 0.2s;
      }
    }
  }
}

.cupContent {
  width: 100%;
  background-color: brown;
  background-position: top right;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-weight: bold;
  font-size: 1.5rem;
}

.coffee {
  @include contents;
}

.milkFoam {
  @include contents;
}

.whippedCream {
  @include contents;
}

.steamedMilk {
  @include contents;
}

.chocolateSyrup {
  @include contents;
}

.hotWater {
  @include contents;
}

.cupHandle {
  display:block;
  width: 3rem;
  height: 5rem;
  border-top: 2rem solid black;
  border-right: 1.2rem solid black;
  border-bottom: 1rem solid black;
  border-radius: 0 4rem 4rem 0;
  transform: translate(18.5rem, 1.5rem);
}

.base {
  height: 2rem;
  width: 40rem;
  background-color: #ff4000;
  border-radius: 1rem 1rem 0.5rem 0.5rem;
  position: relative;
}
