@import "mixins.scss";
@import "variables.scss";

.coffeeContainer {
  display: none;
  height: auto;
  opacity: 0.1;
  position: absolute;
  transform: scale(0.75);
  width: 40rem;

  @include smartphonesPortrait {
    transform: scale(1.5);
  }
  @include smartphonesLandscape {
    transform: scale(0.7);
  }
  @include tabletsPoirtrait {
    transform: scale(1.5);
  }
  @include tabletsLandscape {
    transform: scale(0.7);
  }
}

.panel {
  align-items: center;
  background-color: #FF4000;
  border-radius: 3rem 3rem 1rem 1rem;
  display: flex;
  justify-content: space-around;
  height: 10rem;
  position: relative;
  width: 40rem;

}

.switch {
  background-color: #CC0000;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  &:hover {
    transform: scale(1.2);
    transition: all 0.2s linear;
  }
}

// <<< GAUGE STYLES >>>
.gauge-cont {
  display: inline-block;
  height: $height;
  position: relative;
  width: $width;
  &:first-child {
    margin: 0;
  }
}

.gauge {
  height: $height;
  overflow: hidden;
  position: relative;
  width: $width;
}

.inner {
  background-color: lighten($background, 10%);
  border-radius: $width $width 0 0;
  display: block;
  height: $height;
  width: $width;
  z-index:1;
  &:after {
    background-color: $background;
    border-radius: $width $width 0 0;
    content: '';
    height: $height - $gaugewidth;
    left: $gaugewidth;
    position: absolute;
    top: $gaugewidth;
    width: $width - ($gaugewidth * 2);
    z-index: 3;
  }
}

.spinner {
  background-color: $primary;
  border-radius: 0 0 $width $width;
  height: $height;
  position: absolute;
  transform: rotate(0deg);
  transform: translateZ(0);
  transform-origin: top center;
  transition: transform $speed ease;
  width: $width;
  z-index: 2;
}

.pointer {
  background-color: $white;
  border-radius: 0.3rem 0.3rem 0 0;
  bottom: 0.1rem;
  display: block;
  height: $height - 1;
  left: ($width / 2);
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: center bottom;
  transition: transform $speed ease;
  width: 0.25rem;
  z-index: 4;
}

.pointer-knob {
  background-color: $white;
  border-radius: 20px;
  bottom: -0.4rem;
  height: 1rem;
  left: 4rem;
  position: absolute;
  width: 1rem;
  z-index: 5;
}
// <<< END GAUGE STYLES >>>

.trapezoidContainer {
  height: 35rem;
  position: relative;
}

.trapezoid {
  border-bottom: 0 transparent;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-top: 35rem solid #527A7A;
  height: 0;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0);
  width: 33rem;
}

.groupHandleStick {
  background-color: #4F2902;
  border-radius: 1rem 0 0 1rem;
  content: "";
  display: block;
  height: 1.5rem;
  left: 7.5rem;
  position: absolute;
  top: 1.5rem;
  width: 10rem;
  z-index: 1;
}

.groupHandle {
  border-bottom: 0 transparent;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-top: 4.5rem solid #DBE8E7;
  height: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 6rem;
  z-index: 1;
}

.coffeeDrops {
  left: 50%;
  position: absolute;
  top: 15%;
  transform: translate(-50%, 0);
  z-index: 1;

  .drop {
    background-color: #28170D;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    height: 1.5rem;
    margin: 1rem 0;
    opacity: 0;
    transform: rotateZ(-45deg);
    width: 1.5rem;
  }
}

.cup {
  background-color: rgba(255, 255, 255, 0.65);
  border: 0.8rem solid #000;
  border-bottom: 2.2rem solid #000;
  border-radius: 0.8rem 0.8rem 2rem 2rem;
  height: 15rem;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -100%);
  width: 18rem;

  ul {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -6rem;
    transform: translateX(19%);
    width: 100%;

    li {
      animation: animateSteam 2s infinite linear;
      background-color: #FFF;
      filter: blur(0.3rem);
      float: left;
      height: 4rem;
      list-style: none;
      margin: 1rem;
      width: 0.2rem;
      &:nth-child(1) {
        animation-delay: 0.2s;
      }
      &:nth-child(2) {
        animation-delay: 0.6s;
      }
      &:nth-child(3) {
        animation-delay: 1s;
      }
      &:nth-child(4) {
        animation-delay: 0.6s;
      }
      &:nth-child(5) {
        animation-delay: 0.2s;
      }
    }
  }
}

.cupContent {
  align-items: center;
  background-color: #A52A2A;
  background-position: top right;
  bottom: 0;
  color: #FFF;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.coffee {
  @include contents;
}

.milkFoam {
  @include contents;
  color: #000;
}

.whippedCream {
  @include contents;
  color: #000;
}

.steamedMilk {
  @include contents;
  color: #000;
}

.chocolateSyrup {
  @include contents;
}

.hotWater {
  @include contents;
  color: #000;
}

.cupHandle {
  border-bottom: 1rem solid #000;
  border-radius: 0 4rem 4rem 0;
  border-right: 1.2rem solid #000;
  border-top: 2rem solid #000;
  display: block;
  height: 5rem;
  transform: translate(18.5rem, 1.5rem);
  width: 3rem;
}

.base {
  background-color: #FF4000;
  border-radius: 1rem 1rem 0.5rem 0.5rem;
  height: 2rem;
  position: relative;
  width: 40rem;
}
