@import "mixins.scss";

.headerContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 2vw;
  transform: scale(1);
  @include smartphonesPortrait {
    top: 12vw;
    transform: scale(2);
  }
  @include smartphonesLandscape {
    top: 2vw;
    transform: scale(1);
  }
  @include tabletsPoirtrait {
    top: 12vw;
    transform: scale(2);
  }
  @include tabletsLandscape {
    top: 2vw;
    transform: scale(0.9);
  }
}

.header {
  align-items: center;
  background-color: #FF6633;
  border: 0.3vw solid #000;
  border-radius: 1vw;
  box-shadow: 0vw 0vw 1vw 0.2vw rgba(0,0,0,0.75);
  display: flex;
  height: 6vw;
  justify-content: center;
  font-family: 'Lobster', cursive;
  font-size: 4vw;
  text-align: center;
  width: 30vw;
}
