@import "mixins.scss";

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: scale(1);
  top: 2vw;
  @include smartphonesPortrait {
    transform: scale(2);
    top: 12vw;
  }
  @include smartphonesLandscape {
    transform: scale(1);
    top: 2vw;
  }
  @include tabletsPoirtrait {
    transform: scale(2);
    top: 12vw;
  }
  @include tabletsLandscape {
    transform: scale(1);
    top: 2vw;
  }
}

.header {
  width: 30vw;
  height: 6vw;
  font-size: 4vw;
  font-family: 'Lobster', cursive;
  background-color: #FF6633;
  text-align: center;
  border-radius: 1vw;
  border: 0.3vw solid #000;
  box-shadow: 0vw 0vw 1vw 0.2vw rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;

}
