@import "mixins.scss";

.headerContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 2rem;

  @include smartphonesPortrait {
    top: 2rem;

  }
  @include smartphonesLandscape {
    top: 0.1rem;
    transform: scale(0.8);
  }
  @include tabletsPoirtrait {
    top: 2rem;
    
  }
  @include tabletsLandscape {
    top: 0.1rem;
    transform: scale(0.8);
  }
}

.header {
  align-items: center;
  background-color: #FF6633;
  border: 0.3rem solid #000;
  border-radius: 1.5rem;
  box-shadow: 0rem 0rem 1rem 0.2rem rgba(0,0,0,0.75);
  display: flex;
  height: 8rem;
  justify-content: center;
  font-family: 'Lobster', cursive;
  font-size: 5rem;
  text-align: center;
  width: 38rem;
}
