@import "mixins.scss";

.dialogBox {
  width: 60vw;
  height: 20vw;
  background: rgba(255, 102, 51, 0.5);
  font-size: 3vw;
  border: 0.3vw solid #000;
  border-radius: 1vw;
  box-shadow: 0vw 0vw 1.8vw 0.8vw rgba(0,0,0,0.75);
  padding: 1.5vw;
  text-align: center;
  animation-name: showDialogBox;
  animation-duration: 1s;
  display: inline-block;
  position: relative;
  transform: scale(1.4);
  @include smartphonesLandscape {
    transform: scale(1);
  }
  span.title {
    font-weight: bold;
    font-family: 'Lobster', cursive;
  }
  span.spanNext {
    font-weight: bold;
  }
  .btnNextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnNext {
    width: 12vw;
    height: 4vw;
    margin-top: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6633;
    padding: 0.5vw;
    border-radius: 0.5vw;
    border: 0.1vw solid #000;
    box-shadow: 0vw 0vw 0.8vw 0.2vw rgba(0,0,0,0.75);
    font-size: 3vw;
    &:hover {
      background-color: #ffb399;
      transform: scale(1.1);
      box-shadow: 0vw 0vw 1.5vw 0.9vw rgba(0,0,0,0.75);
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.hintBox {
  width: 50vw;
  height: 20vw;
  background: rgba(255, 102, 51, 0.5);
  font-size: 3vw;
  padding: 2vw;
  border-radius: 1vw;
  border: 0.3vw solid #000;
  box-shadow: 0vw 0vw 0.8vw 0.2vw rgba(0,0,0,0.75);
  text-align: center;
  display: none;
  z-index: 1;
  transform: scale(1.4);
  @include smartphonesLandscape {
    transform: scale(1);
  }
  span.spanOK {
    font-weight: bold;
  }
  p {
    margin-bottom: 3vw;
  }
  .btnOKContainer {
    display: flex;
    justify-content: center;
  }
  .btnOK {
    width: 5vw;
    height: 4vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6633;
    padding: 0.5vw;
    border-radius: 0.5vw;
    border: 0.1vw solid #000;
    box-shadow: 0vw 0vw 0.8vw 0.2vw rgba(0,0,0,0.75);
    &:hover {
      background-color: #ffb399;
      transform: scale(1.1);
      box-shadow: 0vw 0vw 1.5vw 0.9vw rgba(0,0,0,0.75);
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.menu {
  // width: 35vw;
  height: auto;
  display: none;
  margin-top: 2vw;
  transform: scale(2.4);  
  @include smartphonesLandscape {
    transform: scale(1);
  }
  ul {
    width: 35vw;
    display: inline-block;
    margin-top: 1rem;
  }
  li {
    list-style: none;
    font-size: 1.9vw;
    outline: #000 solid 0.2vw;
    font-family: 'Lobster', cursive;
    text-align: center;
    padding: 0.25vw 0;
    margin-bottom: 0.5vw;
    &:hover {
      background-color: #ff6633;
      transform: scale(1.05);
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
  .menuTitle {
    font-size: 2vw;
    font-family: 'Lobster', cursive;
    text-align: center;
  }
}
