@import "mixins.scss";

.dialogBox {
  animation-duration: 1s;
  animation-name: showDialogBox;
  background: rgba(255, 102, 51, 0.5);
  border: 0.3vw solid #000;
  border-radius: 1vw;
  box-shadow: 0vw 0vw 1.8vw 0.8vw rgba(0,0,0,0.75);
  display: inline-block;
  font-size: 3vw;
  height: 20vw;
  padding: 1.5vw;
  position: relative;
  text-align: center;
  width: 60vw;

  @include smartphonesPortrait {
    transform: scale(1.4);
  }
  @include smartphonesLandscape {
    transform: scale(1);
  }
  @include tabletsPoirtrait {
    transform: scale(1.4);
  }
  @include tabletsLandscape {
    transform: scale(1);
  }

  span.title {
    font-family: 'Lobster', cursive;
    font-weight: bold;
  }

  span.spanNext {
    font-weight: bold;
  }

  .btnNextContainer {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .btnNext {
    align-items: center;
    background-color: #FF6633;
    border: 0.1vw solid #000;
    border-radius: 0.5vw;
    box-shadow: 0vw 0vw 0.8vw 0.2vw rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    font-size: 3vw;
    height: 4vw;
    margin-top: 2.5vw;
    padding: 0.5vw;
    width: 12vw;
    &:hover {
      background-color: #ffb399;
      transform: scale(1.1);
      box-shadow: 0vw 0vw 1.5vw 0.9vw rgba(0,0,0,0.75);
    }

    a {
      color: black;
      text-decoration: none;
    }
  }
}

.hintBox {
  background: rgba(255, 102, 51, 0.5);
  border: 0.3vw solid #000;
  border-radius: 1vw;
  box-shadow: 0vw 0vw 0.8vw 0.2vw rgba(0,0,0,0.75);
  display: none;
  font-size: 3vw;
  height: 20vw;
  padding: 2vw;
  text-align: center;
  width: 50vw;
  z-index: 1;

  @include smartphonesPortrait {
    transform: scale(1.4);
  }
  @include smartphonesLandscape {
    transform: scale(1);
  }
  @include tabletsPoirtrait {
    transform: scale(1.4);
  }
  @include tabletsLandscape {
    transform: scale(1);
  }

  span.spanOK {
    font-weight: bold;
  }

  p {
    margin-bottom: 3vw;
  }

  .btnOKContainer {
    display: flex;
    justify-content: center;
  }

  .btnOK {
    align-items: center;
    background-color: #FF6633;
    border: 0.1vw solid #000;
    border-radius: 0.5vw;
    box-shadow: 0vw 0vw 0.8vw 0.2vw rgba(0,0,0,0.75);
    display: flex;
    height: 4vw;
    justify-content: center;
    padding: 0.5vw;
    text-align: center;
    width: 5vw;
    &:hover {
      background-color: #ffb399;
      box-shadow: 0vw 0vw 1.5vw 0.9vw rgba(0,0,0,0.75);
      transform: scale(1.1);
    }

    a {
      color: black;
      text-decoration: none;
    }
  }
}

.menu {
  display: none;
  height: auto;
  margin-top: 2vw;

  @include smartphonesPortrait {
    transform: scale(2.4);
  }
  @include smartphonesLandscape {
    transform: scale(1);
  }
  @include tabletsPoirtrait {
    transform: scale(2.4);
  }
  @include tabletsLandscape {
    transform: scale(1);
  }
  @include desktops {
    transform: scale(1);
  }

  .menuTitleContainer{
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .menuTitle {
    font-family: 'Lobster', cursive;
    font-size: 2vw;
    text-align: center;
  }

  .closeMenuCross {
    font-size: 2vw;
    position: absolute;
    right: 0;
  }

  ul {
    display: inline-block;
    margin-top: 1rem;
    width: 35vw;
  }

  li {
    font-family: 'Lobster', cursive;
    font-size: 1.9vw;
    list-style: none;
    margin-bottom: 0.5vw;
    outline: #000 solid 0.2vw;
    padding: 0.25vw 0;
    text-align: center;
    &:hover {
      background-color: #ff6633;
      transform: scale(1.05);
    }
  }

  a {
    color: black;
    text-decoration: none;
  }
}
