@import "mixins.scss";

.dialogBox {
  animation-duration: 1s;
  animation-name: showDialogBox;
  background: rgba(255, 102, 51, 0.5);
  border: 0.3rem solid #000;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1.5rem 0.5rem rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 4rem;
  height: 28rem;
  padding: 2rem;
  position: relative;
  text-align: center;
  width: 80rem;

  @include smartphonesPortrait {
    transform: scale(1);
  }
  @include smartphonesLandscape {
    transform: scale(0.8);
  }
  @include tabletsLandscape {
    transform: scale(0.9);
  }

  span.title {
    font-family: 'Lobster', cursive;
    font-weight: bold;
  }

  span.spanNext {
    font-weight: bold;
  }

  .btnNextContainer {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .btnNext {
    align-items: center;
    background-color: #FF6633;
    border: 0.1rem solid #000;
    border-radius: 0.8rem;
    box-shadow: 0vw 0vw 1rem 0.2rem rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    font-size: 4rem;
    height: 5rem;
    margin-top: 3rem;
    padding: 0.8rem;
    width: 15rem;
    &:hover {
      background-color: #FFB399;
      box-shadow: 0vw 0vw 1.5rem 0.9rem rgba(0,0,0,0.75);
      transform: scale(1.1);
    }

    a {
      color: #000;
      text-decoration: none;
    }
  }
}

.hintBox {
  background: rgba(255, 102, 51, 0.5);
  border: 0.3rem solid #000;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1.5rem 0.5rem rgba(0,0,0,0.75);
  display: none;
  font-size: 4rem;
  height: 25rem;
  padding: 3rem;
  text-align: center;
  width: 65rem;
  z-index: 1;

  @include smartphonesPortrait {
    transform: scale(0.9);
  }
  @include smartphonesLandscape {
    transform: scale(0.8);
  }
  @include tabletsLandscape {
    transform: scale(0.9);
  }

  span.spanOK {
    font-weight: bold;
  }

  p {
    margin-bottom: 3vw;
  }

  .btnOKContainer {
    display: flex;
    justify-content: center;
  }

  .btnOK {
    align-items: center;
    background-color: #FF6633;
    border: 0.1rem solid #000;
    border-radius: 0.8rem;
    box-shadow: 0vw 0vw 1rem 0.2rem rgba(0,0,0,0.75);
    display: flex;
    height: 5rem;
    justify-content: center;
    padding: 0.8rem;
    text-align: center;
    width: 8rem;
    &:hover {
      background-color: #ffb399;
      box-shadow: 0vw 0vw 1.5rem 0.9rem rgba(0,0,0,0.75);
      transform: scale(1.1);
    }

    a {
      color: #000;
      text-decoration: none;
    }
  }
}

.menu {
  display: none;
  height: auto;
  margin-top: 4rem;

  @include smartphonesPortrait {
    transform: scale(1.5);
  }
  @include smartphonesLandscape {
    transform: scale(0.8);
  }
  @include tabletsPoirtrait {
    transform: scale(1.5);
  }
  @include tabletsLandscape {
    transform: scale(0.8);
  }

  .menuTitleContainer{
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .menuTitle {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
    text-align: center;
  }

  .closeMenuCross {
    font-size: 2.5rem;
    position: absolute;
    right: 0;
    &:hover {
      transform: scale(1.2);
    }
  }

  ul {
    display: inline-block;
    margin-top: 1rem;
    width: 45rem;
  }

  li {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    list-style: none;
    margin-bottom: 0.8rem;
    outline: #000 solid 0.2rem;
    padding: 0.3rem 0;
    text-align: center;
    &:hover {
      background-color: #ff6633;
      transform: scale(1.05);
    }
  }

  a {
    color: black;
    text-decoration: none;
  }
}
