* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: gray;
  background-image: url(../images/coffeebeans2_opa05.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(81, 6, 6, 0.5);
}

.innerContainer {
  width: 100%;
  height: 80%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
