$alternate: #e14e54;
$background: #D0885D;
$black: #000;
$gaugewidth: 2rem;
$height: 5rem;
$primary: #70b37d;
$speed: 800ms;
$white: #fff;
$width: 9rem;

@mixin contents {
  align-items: center;
  background-position: top right;
  bottom: 0;
  color: #FFF;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  position: absolute;
  width: 100%;
}
